Beyond Beaches Agent.json
{
  "name": "Beyond Beaches Agent",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1yTK3taunCX7Appwh0ZBEEyuHMlfkOqKI",
          "mode": "list",
          "cachedResultName": "N8n RAG Agent",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1yTK3taunCX7Appwh0ZBEEyuHMlfkOqKI"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        48,
        -32
      ],
      "id": "4d218a76-3c6c-475e-9753-98b1228f50a0",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Lvuwp4aGFFJeHFYr",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        256,
        -32
      ],
      "id": "d650e8c0-c2b6-4396-90fc-3595eea008ee",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Lvuwp4aGFFJeHFYr",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "beyondbeaches",
          "mode": "list",
          "cachedResultName": "beyondbeaches"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        480,
        -32
      ],
      "id": "9df47fb4-f2dc-40b6-bee1-5b8dfed0994e",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "n4rt4SrspxNcnPFA",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "model": "nomic-embed-text:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        416,
        144
      ],
      "id": "c4a26111-6c9e-4406-acb6-040554b1a154",
      "name": "Embeddings Ollama",
      "credentials": {
        "ollamaApi": {
          "id": "eHSpJXiff2MIpocG",
          "name": "Ollama account 3"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file-name",
                "value": "={{ $('Download file').item.json.originalFilename }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        624,
        176
      ],
      "id": "249d5223-8a05-42ef-a78e-154f52540db3",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fccfc406-1746-4886-8ce4-ef8addde6f52",
              "name": "prompt",
              "value": "=You are a helpful assistant.\n\nUse the following context to answer.\n\nContext:\n{{ $json.document.pageContent }}\n\nQuestion:\n{{ $items(\"When chat message received\")[0].json.chatInput }}\n\nAnswer clearly:\n",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -816,
        -16
      ],
      "id": "662d8d86-8a11-45f6-acbe-8ba152fa542b",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "llama3:latest",
          "mode": "list",
          "cachedResultName": "llama3:latest"
        },
        "messages": {
          "values": [
            {
              "content": "={{$json.prompt}}\n"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.ollama",
      "typeVersion": 1,
      "position": [
        -624,
        0
      ],
      "id": "39035ace-c4ee-4e40-aca4-797b32467110",
      "name": "Message a model",
      "credentials": {
        "ollamaApi": {
          "id": "Raz1xiDdPWAGkzZ5",
          "name": "Ollama account 4"
        }
      }
    },
    {
      "parameters": {
        "message": "=\n{{ $json.content }}",
        "options": {
          "memoryConnection": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1.1,
      "position": [
        -288,
        0
      ],
      "id": "ef9862de-0e0a-4ddf-bc87-165397f62014",
      "name": "Chat",
      "webhookId": "bed3a669-4e88-4805-b568-3ab18387d648"
    },
    {
      "parameters": {
        "model": "nomic-embed-text:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        -1120,
        224
      ],
      "id": "8ed3e17c-7c0f-4cfb-897e-a70a7c484ee7",
      "name": "Embeddings Ollama1",
      "credentials": {
        "ollamaApi": {
          "id": "Raz1xiDdPWAGkzZ5",
          "name": "Ollama account 4"
        }
      }
    },
    {
      "parameters": {
        "mode": "load",
        "pineconeIndex": {
          "__rl": true,
          "value": "beyondbeaches",
          "mode": "list",
          "cachedResultName": "beyondbeaches"
        },
        "prompt": "=You are a helpful assistant. which answer for tht give  Question: {{ $json.chatInput }}  Answer clearly:",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -1168,
        -16
      ],
      "id": "edede30d-ecaa-4e65-9169-bad9f53c7c82",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "n4rt4SrspxNcnPFA",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "responseMode": "responseNodes"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -1360,
        48
      ],
      "id": "7ece5c6e-f4e0-4a0c-9030-ad8e8e1b5496",
      "name": "When chat message received",
      "webhookId": "3ce9720a-fd0f-40b3-9ef8-d0185d46e795"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat": {
      "main": [
        []
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "1ca19f69-6c5f-4ec3-b280-f4ca11f73345",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "85e46372d709335122b43f70d693f660472616cef27333e7d4c1de2784d5a57f"
  },
  "id": "5DD4wBI5fnL90xuP8iGhF",
  "tags": [
    {
      "updatedAt": "2026-02-11T08:47:21.785Z",
      "createdAt": "2026-02-11T08:47:21.785Z",
      "id": "Rs4wTxLD8UTNjXSt",
      "name": "RAG"
    }
  ]
}